<!-- footer partial -->

<footer id="layout-footer">
    <div id="copyright">
        <p> &#169; Friends-Connect. All Rights Reserved</p>
    </div>

    <div id="footer-links">
        <a href="/">Home</a>
        <a href="/user/profile">Profile</a>
    </div>
</footer>