<!-- users_profile page content -->

<link rel="stylesheet" href="/css/user_profile.css">
        <h1> Friends-Connect | Profile Page </h1>

        <h1> Checking this</h1>
        <h1> <%= name %></h1>

        <p> <%= user.name %> </p>
        <p> <%= user.email %> </p>