<div>

    <p>Hi User</p>
    <p>
        <i> <%= comment.user.name%> </i> says:
        <br>
        <strong><%= comment.content %></strong>
        <br>
        to you.
    </p>
    <br>
    <br>
    <p>Thanks!</p>
</div>